/* Reset browsers' default style */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
   }
   
   .container {
    width: 300px;
    padding: 16px;
    background-color: #fff;
    margin: 100px auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   }
   
   label {
    margin-bottom: 10px;
    display: block;
   }
   
   input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
   }
   
   button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
   }
   
   button:hover {
    opacity: 0.8;
   }